<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <br /><br />
    <div class="container">
        <h3>User Registration</h3>
        <br />
        <form action="/users/register" method="POST">
            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="phone" placeholder="Phone Number">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="telephone" placeholder="Telephone Number">
            </div>
            <div class="mb-3">
                <input type="submit" value="Register" class="btn btn-secondary" />
                <input type="reset" value="Clear" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</body>

</html>